<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.william.learningdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".LaunchModeDemo.StandardActivity" android:launchMode="standard"></activity>
        <activity android:name=".LaunchModeDemo.SingleTopActivity" android:launchMode="singleTop"/>
        <activity android:name=".LaunchModeDemo.SingleInstanceActivity" android:launchMode="singleInstance"/>
        <activity android:name=".LaunchModeDemo.SingleTeskActivity" android:launchMode="singleTask"/>
        <activity android:name=".LaunchModeDemo.LaunchModeDemoActivity" android:launchMode="standard"/>
        <activity android:name=".ActivityDemo.ChoicePictureActivity" />
        <activity android:name=".ActivityDemo.IntentSecondActivity" />
        <activity android:name=".ActivityDemo.ActivityDemo" android:launchMode="standard"/>
        <activity android:name=".DirectoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>